<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
    You bought:
    </p>
    <% @order.line_items.each do |item| %>
    <p> <%= item.product.name %> - <%= item.quantity %> - <%= item.item_price %>:
    Total : <%= item.total_price %> </p>
    <% end %>
  </body>
</html>