<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    </div>

    <%= form_for @new_review, url: product_reviews_path(@product.id) do |f| %>
      Description: <%= f.text_area :description %><br />
      Rating : <%= f.select :rating, options_for_select(1..5) %> <br />
      <%= f.submit %>
    <% end %>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Product Reviews</h3>
      </div>
      <div class="panel-body">
        <% @review.each do |rev| %>
        <%= render 'review', rev: rev %>
        <% end %>
      </div>
    </div>

  </article>

</section>
